<h1>Create Car</h1>

<form action="/car/create/new" method="POST">
  <label>Brand:</label>
  <input type="text" name="brand" required />

  <label>Model:</label>
  <input type="text" name="model" required />

  <label>Year:</label>
  <input type="number" name="year" required />

  <button type="submit">Submit</button>
</form>

<a href="/car">Back to list</a>
